.Container {
    position: relative;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    background: #dacfcf;
    max-height: 150px;
    overflow-y: auto;
}

:global .select-text {
    background: blue;
    color: white;
}


.Text {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 5px;

}

.Background {
    padding: 10px 5px;
    color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.Background::selection {
    background: blue;
    color: white;
}


.text {
    color: red;
    background: blue;
}

.Container::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.Container::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

.Container::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #858383;
    outline-offset: -2px;
}

.Container::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}
