.App {
    min-height: 100vh;
    padding: 16px;

    background-color: #d9e4f5;
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}


.Col {
    position: relative;
    margin: 10px 0;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}

.Col:first-of-type {
}




